.indexPage {
    display: flex;
    width: 100%;
    height: 100vh;
}

.indexPage > .left {
    width: 120px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ec13be;
    color: #ffffff;
    font-weight: bold;
    flex-grow: 0;
}

.indexPage > .left > .titlePositionBox {
    padding-right: 50%;
    padding-top: 16px;
}

.indexPage > .left > .titlePositionBox > .titleContainer {
    position: relative;
}

.indexPage > .left > .titlePositionBox > .titleContainer > .title {
    display: inline-block;
    font-size: 32px;
    transform: rotate(-90deg);
    transform-origin: 100% 0.62em;
    position: absolute;
    right: 0;
}

.indexPage > .right {
    flex-grow: 1;
}

.indexPage > .right > .calculatorsList {
    padding: 8px;
}

.indexPage > .right > .calculatorsList > .calculatorLink {
    display: inline-block;
    padding: 8px 16px;
    background-color: #d3d3d3;
    margin: 0px 8px 8px 0px;
    color: #000000;
}

.indexPage > .right > .calculatorsList > .calculatorLink.darkBackground {
    color: #ffffff;
}

.indexPage > .right > .calculatorsList > .calculatorLink > a {
    color: inherit;
    text-decoration: none;
}
