<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="shared.css">
    <link rel="stylesheet" href="pages/{{pageName}}.css">
    <title>{{title}} Calculator</title>
</head>

<body>
    <script> window.pageName = "{{pageName}}"; </script>
    <script src="js/mathLib.js"></script>
    <script src="js/lib.js"></script>
    <script src="js/index.js"></script>
    <script src="pages/{{pageName}}.js"></script>
</body>

</html>